<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{ title }} &mdash; The Official Travel Guide to Bungoma</title>
        <meta name="description" content="{{ description }}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch/apple-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/images/touch/apple-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="/images/touch/touch-icon-192x192.png">
        <link rel="shortcut icon" href="/images/touch/apple-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/images/touch/apple-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#FFCB08">

        <link rel="stylesheet" href="/stylesheet/normalize.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
        <script src="/javascript/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>

        {{{body}}}

        <footer class="clearfix" role="footer">
            <div class="half">
                <h3>Got questions?</h3>
                <a href="mailto:mailto:wjuma@students.usiu.ac.ke">Email</a>
                <a href="http://twitter.com/bungoma">Twitter</a>
                <a href="http://www.facebook.com/bungoma">Facebook</a>

                <br>
                <p class="privacy-terms-links"><a href="/terms">Terms and Conditions</a> <a href="/privacy">Privacy Policy</a></p>

            </div>

            <div class="credits">             
                <h3>Designed &amp; Developed <br>(with <3 and lots of Coffee)</h3>
                <a href="http://twitter.com/IanJuma" title="Ian Juma">@IanJuma</a>
            </div>

        </footer>

        <script src="/javascript/vendor/jquery-2.1.0.min.js"></script>
        <script src="/javascript/helper.js"></script>
        <script src="/javascript/main.js"></script>

    </body>
</html>