<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" title="">Register</a>
        <a href="/travel" title="">Travel</a>
        <a href="/destinations" title="">Destinations</a>
        <a href="/about" class="active" title="">About</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content page guide" role="main">
    <section>
        <div>
            <div class="main">
                <article class="guide">
                    <h5>About US</h5>
                    <p> Bungoma County is a county in the former Western Province of Kenya. Its capital is Bungoma Town. It has a population of 1,375,063 and an area of 2,069 km². The economy of Bungoma County is mainly agricultural, centering on the sugarcane and maize industries. The area experiences high rainfall throughout the year, and is home to several large rivers, which are used for small-scale irrigation.
                    </p>
                    <p>
                    The Bukusu who occupy much of the county are resilient and flamboyant people who stood up against British rule in the late 19th century. In a war that erupted at Lumboka and eventually ended at Chetambe near Webuye, the Bukusu bitterly resisted British rule. They are farmers who practice both livestock and crop farmers. And an early British traveler described them as such when he visited in 1876 "on the East of the Mountain, there are the Bukusu who are greater livestock breeders and keepers".
                    </p>
                </article>
            </div>
        </div>
    </section>
</div>