<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" title="">Register</a>
        <a href="/attractions" class="active" title="">Attractions</a>
        <a href="/travel" title="">Travel</a>
        <a href="/destinations" title="">Destinations</a>
        <a href="/about" title="">About</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content page guide" role="main">
    <section>
        <div>
            <header>
                <h1>Guide</h1>
                <p>A guide to all things hackathon</p>
            </header>
            <div class="main">
                <article class="guide">
                    {{{guide}}}
                </article>
            </div>
        </div>
    </section>
</div>