<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
       <a href="/register" title="">Register</a>
        <a href="/travel" title="">Travel</a>
        <a href="/destinations" title="">Destinations</a>
        <a href="/about" title="">About</a>
        <a href="/contact" class="active" title="">Contact</a>
    </nav>
</header>
<div class="content page" role="main">
    <section>
        <div>
            <div class="main">

                <article class="guide">
                    <h5>You can reach us on</h5>
                    <ul>
                        <li><a href="mailto:ian@gmail.com">Email</a></li>
                        <li><a href="http://twitter.com/bungoma">Twitter</a></li>
                        <li><a href="http://www.facebook.com/bungoma">Facebook</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </section>
</div>