<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
       <a href="/register" title="">Register</a>
        <a href="/attractions" title="">Attractions</a>
        <a href="/travel" title="">Travel</a>
        <a href="/destinations" title="">Destinations</a>
        <a href="/about" title="">About</a>
        <a href="/contact" class="active" title="">Contact</a>
    </nav>
</header>
<div class="content page" role="main">
    <section>
        <div>
            <header>
                <h1>Contact</h1>
                <p>Thoughts, ideas, comments or suggestions about the hackathon?
                <br>Get in touch, we&rsquo;d love to hear from you</p>
            </header>
            <div class="main">
                
                <article class="guide">
                    <h5>You can reach us through the following channels&hellip;</h5>
                    <ul>
                        <li><a href="mailto:usiuhackathon@gmail.com">Email</a></li>
                        <li><a href="http://twitter.com/USIUHackathon">Twitter</a></li>
                        <li><a href="http://www.facebook.com/USIUHackathon">Facebook</a></li>
                        <li><a href="http://github.com/USIU-Hackathon/">Github</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </section>
</div>