<header role="header">
    <a href="" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" title="">Register</a>
        <a href="/travel" title="">Travel</a>
        <a href="/destinations" title="">Destinations</a>
        <a href="/about" title="">About</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content home" role="main">
    <h1>Bungoma County - The Official Travel Site of Bungoma County</h1>
    <h2>Bungoma County has lots of fun places and events, lots of places to visit. Join us <cite title="i.e. we have lots of ideas">and</cite> will strive to keep you happy during your stay. It&rsquo;s</h2>
        <br>
        
    <section class="goals">
        <h2><span>We offer</span></h2>
        <ul>
            <li>Travel Packages</li>
            <li>Tourist Attractions</li>
            <li>Accomodation</li>
            <li>Parks</li>
            <li>Fitness / Health</li>
            <li>Tour guides</li>
        </ul>
    </section>

    <section class="goals">
        <h2><span>Our Work</span></h2>
        <ul>

            <li>
                <h5>Where chicken is BIG everywhere!</h5>
                <img width="80%" src="/images/kuku.jpg">
            </li>

            <li>
                <h5>Scuba Diving in Lake Victoria</h5>
                <img width="80%" src="/images/scuba.jpg">
            </li>
            <li>
                <h5>Come see Penguins in Bungoma</h5>
                <img src="/images/lady.jpg">
            </li>
            <li>
                <h5>Lions in Bungoma</h5>
                <img width="80%" src="/images/animal2.jpg">
            </li>

            <li>
                <h5>JellyFish in Bungoma</h5>
                <img width="80%" src="/images/animal3.jpg">
            </li>

        </ul>
    </section>

</div>