<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" title="">Register</a>
        <a href="/travel" title="">Travel</a>
        <a href="/destinations" title="">Destinations</a>
        <a href="/about" title="">About</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content page" role="main">
    <section>
        <div>
            <header>
                <h1>Thanks!</h1>
            </header>
            <div class="main">
                <p>Thank you for registering! Keep checking your inbox, we&rsquo;ll be in touch.</p>
            </div>
        </div>
    </section>
</div>
