<header role="header">
    <a href="/" class="logo"><img src="/images/logo_black.png"></a>
    <nav role="navigation">
        <a href="/register" title="">Register</a>
        <a href="/travel" class="active" title="">Travel</a>
        <a href="/destinations" title="">Destinations</a>
        <a href="/about" title="">About</a>
        <a href="/contact" title="">Contact</a>
    </nav>
</header>
<div class="content page guide" role="main">
    <section>
        <div>
            <div class="main">
                <article class="guide">
                    <ul>

                    <li>Tourism in Kenya is the second largest source of foreign exchange revenue following agriculture. The Kenya Tourism Board is responsible for maintaining information pertaining to to tourism in Kenya. The main tourist attractions are photo safaris through the 19 national parks and game reserves. Other attractions include the mosques at Mombasa; the renowned scenery of the Great Rift Valley; the coffee plantations at Thika; a view of Mt. Kilimanjaro, across the border into Tanzania; and its beaches along the Indian Ocean.
                            <br>
                            <h5>Meet amazing people</h5>
                            <img width="80%" src="/images/people.jpg">
                            <br>
                        </li>

                        <li>
                            <h5>Enjoy our Bodabodas</h5>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <img width="80%" src="/images/bikes.jpg">
                            <br>
                        </li>

                        <li>A large proportion of Kenya's tourism centres on safaris and tours of its great National Parks and Game Reserves. While most tourists do visit for safari there are also great cultural aspects of the country to explore in cities like Mombasa and Lamu on the Coast. The Masai Mara National Reserve is usually where the Maasai Village can be found; a site that most tourists like to visit. In addition, There are also a lot of beaches to visit in Kenya, where you can experience water boarding, surfing, wind surfing and many more fun activities that are good for Kenya's economy.
                            <br>
                            <h5>Amazing environment</h5>
                            <img width="80%" src="/images/env.jpg">
                        </li>
                        <li>
                        Istanbul is one of the most important tourism spots not only in Turkey but also in the world. There are thousands of hotels and other tourist-oriented industries in the city, catering to both vacationers and visiting professionals. Turkey's largest city, Istanbul, has a number of major attractions derived from its historical status as capital of the Byzantine and Ottoman Empires.
                        </li>

                        <li>
                            <h5>Tranquility, Peace, Clean air</h5>
                            <img width="80%" src="/images/air.jpg">
                            <br>
                            <br>
                        Istanbul's strategic position along the historic Silk Road, rail networks to Europe and the Middle East, and the only sea route between the Black Sea and the Mediterranean have helped foster an eclectic populace, although less so since the establishment of the Turkish Republic in 1923.
                        </li>


                        <li>
                            <h5>Enjoy the Bungoma Tourist Hotel</h5>
                            <img width="80%" src="/images/hotel2.jpg">
                            <br>
                            <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>

                    </ul> 
                </article>
            </div>
        </div>
    </section>
</div>